# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
npm-debug.log
dist/*
!dist/main.min.css
!dist/main.min.js