@import "./variables.less";
@import "./components.less";

.stage-shelf-right {
  right: -250px;
  padding-top: 35px;
}

.btn-lg {
  font-size: 18px;
}

.btn-spacious {
  &.btn-lg {
    padding: 12px 50px;
  }
}

.nav-bordered.nav-stacked a {
  text-decoration: none;
}

.embed-responsive{
  background-color: @gray-lighter;
}

.lsb-xs-row-valign-center {
  display: flex;
  align-items: center;
}

.lsb-sm-row-valign-center {
  @media (min-width: @container-sm) {
    display: flex;
    align-items: center;
  }
}

.lsb-sm-row-valign-stretch {
  @media (min-width: @container-sm) {
    display: flex;
    align-items: stretch;
  }
}

/* general btn overrides */
/* .btn-lg {
  font-size: 18px;
}
.btn-lg:not(.btn-block) {
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .btn-lg:not(.btn-block) {
    width: auto;
  }
} */

@import "./lsb-boksok/type.less";
@import "./lsb-boksok/navbar.less";
@import "./lsb-boksok/blocks.less";
@import "./lsb-boksok/cover.less";
@import "./lsb-boksok/search.less";
@import "./lsb-boksok/library.less";

@import "./lsb-boksok/color-filter.less";

@import "./lsb-boksok/tmpl-home.less";
@import "./lsb-boksok/tmpl-book.less";
@import "./lsb-boksok/tmpl-archive.less";

a img {
  &:hover {
    opacity: 0.8;
  }
}

.block-site-footer {
  padding-top: @spacer*3;
  padding-bottom: @spacer;
}
