@import "./variables.less";
@import "./components.less";

.btn-lg {
  font-size: 18px;
}

@media (max-width: @container-lg) {
  .row >div {
    width: 100%;
  }
}

/* general btn overrides */
/* .btn-lg {
  font-size: 18px;
}
.btn-lg:not(.btn-block) {
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .btn-lg:not(.btn-block) {
    width: auto;
  }
} */

@import "./lsb-boksok/type.less";
@import "./lsb-boksok/navbar.less";
@import "./lsb-boksok/blocks.less";
@import "./lsb-boksok/cover.less";
@import "./lsb-boksok/search.less";

@import "./lsb-boksok/tmpl-home.less";
@import "./lsb-boksok/tmpl-archive.less";

a img {
  &:hover {
    opacity: 0.8;
  }
}

.navbar {

  body:not(.tax-lsb_tax_lsb_cat) & {
    .navbar-primary;
  }

  body.term-litt-a-lese & {
    .navbar-purple;
  }

  body.term-enkelt-innhold & {
    .navbar-green;
  }

  body.term-storskrift & {
    .navbar-yellow;
  }

  body.term-punktskrift-folebilder & {
    .navbar-orange;
  }

  body.term-tegnsprak-nmt & {
    .navbar-red;
  }

  body.term-bliss-piktogram & {
    .navbar-blue;
  }
}

.block-lsb-header,
.block-lsb-search {

  body:not(.tax-lsb_tax_lsb_cat) & {
    .block-lsb-solid-primary;
  }

  body.term-litt-a-lese & {
    .block-lsb-solid-purple;
  }

  body.term-enkelt-innhold & {
    .block-lsb-solid-green;
  }

  body.term-storskrift & {
    .block-lsb-solid-yellow;
  }

  body.term-punktskrift-folebilder & {
    .block-lsb-solid-orange;
  }

  body.term-tegnsprak-nmt & {
    .block-lsb-solid-red;
  }

  body.term-bliss-piktogram & {
    .block-lsb-solid-blue;
  }
}

.block-site-footer {
  padding-top: @spacer*3;
  padding-bottom: @spacer;
}