/* Plain bootstrap theme */

@import "../../node_modules/bootstrap/less/variables.less";

// icons
@icon-font-path: "../fonts/";
@icon-font-name: "toolkit-entypo";

// Brand Colors
@brand-primary: #356584;

// Grid
@grid-gutter-width: 20px;

// Typography
@font-weight-base: 300;
@font-size-base: 15px;
@line-height-base: 1.4;

// For h1-h6
@headings-font-family: @font-family-sans-serif;
@headings-font-weight: 500;
@headings-line-height: 1.2;

// Buttons
@btn-font-weight:      400;

// Container sizes
@container-desktop:       (860px + @grid-gutter-width);
@container-md:            @container-desktop;
@container-large-desktop: (1000px + @grid-gutter-width);
@container-lg:            @container-large-desktop;


/* Bootstrap marketing theme */

@import "./bootstrap-theme/variables.less";

/* LSB Theme Boksok */

@lsb-purple:    #91127d;
@lsb-green:     #7ab51d;
@lsb-yellow:    #fed501;
@lsb-orange:    #f29400;
@lsb-red:       #d30132;
@lsb-blue:      #51b4db;

// LSB category colors:
@litt-a-lese:             @lsb-purple;
@enkelt-innhold:          @lsb-green;
@storskrift:              @lsb-yellow;
@punktskrift-folebilder:  @lsb-orange;
@tegnsprak-nmt:           @lsb-red;
@bliss-piktogram:         @lsb-blue;


