// Block override

.block {
  .p-r-0;
  .p-l-0;
}

// Block content

.block-lsb-cover-grid {
  position: absolute;
  left: @grid-gutter-width/2;
  right: @grid-gutter-width/2;

  img {
    height: 0;
    width: 0;
  }
}

.block-lsb-selection {
  margin: 0 -0.5rem;
  display: flex;
  flex-wrap: wrap;

  .btn {
    margin: 0.25em;
  }
}

// Blcok Modifiers
.block {
  .lsb-col-center {
    align-self: center;
  }

  .lsb-col-move-up {
    margin-top: -40px;
  }
}

// Blocks with color details

.block-lsb(@color) {
  border-color: @color;

  .lsb-heading-small {
    opacity: 0.8;
  }
  .lsb-cat-description {
    .btn {
    .button-variant(@text-color;  @block-bg; @color);
      border-width: 2px;
    }
  }
  button[type="submit"] {
    .button-variant(white;  @color; @color);
  }
  .form-control:focus {
    border-color: @color;
  }
}

.block-lsb-primary {
  .block-lsb(@brand-primary);
}

.block-lsb-purple {
  .block-lsb(@brand-purple);
}

.block-lsb-green {
  .block-lsb(@brand-green);
}

.block-lsb-yellow {
  .block-lsb(@brand-yellow);
  .btn {
    color: @text-color;
  }
}

.block-lsb-orange {
  .block-lsb(@brand-orange);
}

.block-lsb-red {
  .block-lsb(@brand-red);
}

.block-lsb-blue {
  .block-lsb(@brand-blue);
}

// Search block

.block-lsb-search {
  .p-t-lg;
  .p-b;
}

// Header blockquote

.block-lsb-header {
  .p-t-md;
  .p-b;
}

// Books blocks
.block-lsb-books {
  .p-t;
  .p-b-md;
}

// Content block 

.block-lsb-content {
  .p-t-md;
  .p-b-md;

  &:nth-child(odd) {
    background: @gray-lighter;
  }
}

// Category blocks

.block-lsb-cat {
  border-bottom: 4px solid;
  padding-bottom: @spacer*3;
  overflow: hidden;

  .row {
    min-height: 250px;
  }

  .lsb-heading-small {
    .m-t-0;
  }

  .block-lsb-selection {
    .btn {
      .btn-lg;
    }
  }
}
