// Block content

.block-lsb-heading {

  .h6;
  .header-uppercase;

  .m-t-0;

  a {
    color: inherit;
  }

  .subtitle {
    opacity: 0.6;
    font-size: 90%;
    text-transform: none;
  }
}

.block-lsb-description {

  a {
    color: inherit;
    font-weight: 400;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p:first-child {
    .h3;
    .m-t-0;
  }

  p:not(:first-child) {
    .lead;
  }

  h2, h3, h4, h5, h6 {
    .h5;
    .m-t-md;

    +p {
      font-size: @font-size-base !important;
      width: 50%;
    }
  }
}

// Solid blocks

.block-lsb-solid(@color) {
  .block-lsb-heading {
    opacity: 0.6;
  }
  background-color: @color;

  .block-lsb-description .btn {
    .button-variant(@color; white; transparent);
  }
}

.block-lsb-solid-primary {
  .block-inverse;
  .block-lsb-solid(@brand-primary);
}

.block-lsb-solid-purple {
  .block-inverse;
  .block-lsb-solid(@brand-purple);
}

.block-lsb-solid-green {
  .block-inverse;
  .block-lsb-solid(@brand-green);
}

.block-lsb-solid-yellow {
  .block-lsb-solid(@brand-yellow);
  .block-lsb-description .btn {
    color: @text-color;
  }
}

.block-lsb-solid-orange {
  .block-lsb-solid(@brand-orange);
}

.block-lsb-solid-red {
  .block-inverse;
  .block-lsb-solid(@brand-red);
}

.block-lsb-solid-blue {
  .block-lsb-solid(@brand-blue);
}

// Blocks with color details

.block-lsb(@color) {
  .block-lsb-heading {
    color: @color;
  }
  .block-lsb-description .btn {
    .button-variant(white;  @color; transparent);
  }
}

.block-lsb-primary {
  .block-lsb(@brand-primary);
}

.block-lsb-purple {
  .block-lsb(@brand-purple);
}

.block-lsb-green {
  .block-lsb(@brand-green);
}

.block-lsb-yellow {
  .block-lsb(@brand-yellow);
  .btn {
    color: @text-color;
  }
}

.block-lsb-orange {
  .block-lsb(@brand-orange);
}

.block-lsb-red {
  .block-lsb(@brand-red);
}

.block-lsb-blue {
  .block-lsb(@brand-blue);
}

// Search block

.block-lsb-search {
  .p-t-lg;
  .p-b-lg;
}

// Category blocks

.block-lsb-cat {

  padding-bottom: @spacer*3;
  overflow: hidden;

  .row {
    display: flex;
    align-items: stretch;
  }

  .cover-grid {
    margin-top: -@spacer * 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: @grid-gutter-width/2;
    right: @grid-gutter-width/2;

    img {
      height: 0;
      width: 0;
    }
  }
}

.block-lsb-cat:nth-child(even),
.block-lsb-cat:last-child {

  &.lsb-cat-litt-a-lese {
    .block-lsb-solid-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-solid-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-solid-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-solid-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-solid-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-solid-blue;
  }
 
}

.block-lsb-cat:nth-child(odd):not(:last-child) {

  .col-sm-5 {
    order: 3;
  }

  .col-sm-1 {
    order: 2;
  }

  .col-sm-6 {
    order: 1;
  }

  &.lsb-cat-litt-a-lese {
    .block-lsb-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-blue;
  }
}

.block-lsb-book-shelf {

  padding: @spacer*3;
  
  &:nth-child(even) {
    background: @gray-lighter;
  }

  .cover-grid {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    img {
      height: 200px;
      width: auto;
    }
  }
}


// Footer

.block-lsb-cat-footer {

  padding-bottom: @spacer*3;

  .row {
    display: flex;
    align-items: center; 
  }

  &.lsb-cat-boksok {
    .block-lsb-solid-primary;
  }

  &.lsb-cat-litt-a-lese {
    .block-lsb-solid-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-solid-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-solid-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-solid-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-solid-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-solid-blue;
  }
 
}

.block-site-footer {
  padding-top: @spacer*3;
  padding-bottom: @spacer;
}
