.lsb-book-collection,
#algolia-hits .ais-hits {

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  &.ais-hits__empty,
  &.ais-searching {
    justify-content: center;
  }

  margin: -@line-height-computed;

  .lsb-book-collection-intro {
    padding: @line-height-computed;
    align-self: flex-start;
    width: 100%;

    @media (min-width: @screen-sm-min) {
      width: 25%*2;
    }

    @media (min-width: @screen-md-min) {
      width: 20%*2;
    }
  }

  .lsb-book-collection-item {

    padding: @line-height-computed;
    overflow: hidden;
    font-size: @font-size-small;
    width: 50%;

    @media (min-width: @screen-xs-min) {
      width: 33.33%;
    }

    @media (min-width: @screen-sm-min) {
      width: 25%;
    }

    @media (min-width: @screen-md-min) {
      width: 20%;
    }

    .lsb-book-collection-item-title {
      font-size: @font-size-base;
      margin-bottom: 0.2rem;
    }

    .lsb-book-collection-item-content {
      margin: 0.5rem 0;
    }

    .lsb-book-collection-item-meta {
      margin-bottom: 0;
    }

    .lsb-book-collection-item-title,
    .lsb-book-collection-item-content,
    .lsb-book-collection-item-meta {
      padding: 0 0.5rem;

      em {
        background: rgba(69,142,225,.3);
        color: @text-color;
        font-style: normal;
        padding: 0 0 1px;
        border-radius: 2px;
      }
    }

    .lsb-book-collection-item-cover {
      display: block;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &.lsb-book-collection-single-row {

    .lsb-book-collection-item {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }

      @media (min-width: @screen-xs-min) {
        &:nth-child(5),
        &:nth-child(6) {
          display: block;
        }
      }

      @media (min-width: @screen-sm-min) {
        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }

      @media (min-width: @screen-md-min) {
        &:nth-child(5) {
          display: block;
        }
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }

  &.lsb-book-collection-single-row-has-intro {

    .lsb-book-collection-item {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }

      @media (min-width: @screen-sm-min) {
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }

      @media (min-width: @screen-md-min) {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: block;
        }
      }
    }
  }
}

.lsb-book-collection-nav {
  a {
    .btn;
    .btn-default;
    .btn-sm;
  }
}


