article.lsb_book {
  p .btn {
    margin-bottom: 3px;
    .btn-sm;
  }
}

article.lsb_book.full {

  .lsb-book-cover {
    width: 100%;
    min-height: 400px;

    @media (max-width: @screen-sm-max) {
      .m-t-lg;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .lsb-book-content-container {
    max-height: 600px;
    overflow: hidden;
    &.open {
      max-height: none;
    }

    @media (min-width: @screen-sm) {
      position: absolute;
      height: 100%;
      max-height: none;
      padding-right: 10px;
      &.open {
        position: relative;
        height: auto;
        padding-right: 0;
      }
    }
  }

  .lsb-library-status {
    @media (max-width: @screen-sm-max) {
      .m-t-md;
    }
  }
}

article.lsb_book.summary {
  .m-b;

  .lsb-book-thumbail {
    text-align: center;
    display: block;
    img {
      max-width: 100%;
      height: auto;
      display: inline-block;

      @media (min-width: @screen-sm) {
        .p-r;
      }
    }
  }

  .lsb-book-content {
    padding: 1rem;
    padding-left: 2rem;
    overflow: hidden;
  }
}
