.navbar {

  body.filter-none & {
    .navbar-primary;
  }

  body.filter-litt-a-lese & {
    .navbar-purple;
  }

  body.filter-enkelt-innhold & {
    .navbar-green;
  }

  body.filter-storskrift & {
    .navbar-yellow;
  }

  body.filter-punktskrift-folebilder & {
    .navbar-orange;
  }

  body.filter-tegnsprak-nmt & {
    .navbar-red;
  }

  body.filter-bliss-piktogram & {
    .navbar-blue;
  }
}

.stage-shelf {
  border-top: 4px solid;

  body.filter-none & {
    border-color: lighten(@brand-primary, 15%);
  }

  body.filter-litt-a-lese & {
    border-color: lighten(@brand-purple, 15%);
  }

  body.filter-enkelt-innhold & {
    border-color: lighten(@brand-green, 10%);
  }

  body.filter-storskrift & {
    border-color: lighten(@brand-yellow, 15%);
  }

  body.filter-punktskrift-folebilder & {
    border-color: lighten(@brand-orange, 10%);
  }

  body.filter-tegnsprak-nmt & {
    border-color: lighten(@brand-red, 15%);
  }

  body.filter-bliss-piktogram & {
    border-color: lighten(@brand-blue, 10%);
  }
}

.block-lsb-books,
.block-lsb-content,
.block-lsb-header,
.block-lsb-search,
.block-lsb-cat-section {

  body.filter-none & {
    .block-lsb-primary;
  }

  body.filter-litt-a-lese & {
    .block-lsb-purple;
  }

  body.filter-enkelt-innhold & {
    .block-lsb-green;
  }

  body.filter-storskrift & {
    .block-lsb-yellow;
  }

  body.filter-punktskrift-folebilder & {
    .block-lsb-orange;
  }

  body.filter-tegnsprak-nmt & {
    .block-lsb-red;
  }

  body.filter-bliss-piktogram & {
    .block-lsb-blue;
  }
}

.block-lsb-cat {

  &.lsb-cat-boksok {
    .block-lsb-primary;
  }

  &.lsb-cat-litt-a-lese {
    .block-lsb-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-blue;
  }
}
