.lsb-header {

  .lsb-heading,
  .lsb-heading-medium,
  .lsb-heading-small {
    .m-t-0;
  }

  hr {
    width: 40px;
    border: 2px solid;
    border-radius: 2px;
    margin-left: 0;
    text-align: left;
  }

  &.text-xs-center {
    hr {
      margin-left: auto;
    }
  }

  @media (min-width: @screen-sm-min) {
    &.text-sm-center {
      hr {
        margin-left: auto;
      }
    }
  }

  @media (min-width: @screen-md-min) {
    &.text-md-center {
      hr {
        margin-left: auto;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    &.text-lg-center {
      hr {
        margin-left: auto;
      }
    }
  }
}
