main.main {
  .m-t-lg;
  .m-b-lg;
}

#search-page {

  .input-group {
    .m-t-md;
    .m-b-lg;

    @media (min-width: @screen-sm-min) {
      justify-content: center;
      width: 70%;
      margin: 0 auto;
    }
  }

}

.lsb-page-row {
  .m-t-lg;
  .m-b-lg;

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  .lsb-book-collection-item {
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }

    @media (min-width: @screen-xs-min) {
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
    }

    @media (min-width: @screen-sm-min) {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }

    @media (min-width: @screen-md-min) {
      &:nth-child(5) {
        display: block;
      }
      &:nth-child(6) {
        display: none;
      }
    }
  }
}
