.navbar {
  padding-bottom: 0;
}

.lsb-page-header {
  .m-t-lg;
}

.lsb-page-row {
  .m-t-lg;
  .m-b-lg;

  .lsb-button-collection {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
}
