.navbar {
  color: inherit;
  font-weight: 500;
  letter-spacing: .05em;

  .m-b-0;
  .p-y;

  a {
    text-decoration: inherit;
  }

  .navbar-header {

    .lsb-brand {
      position: relative;
      display: flex;
      .p-l-0;

      svg {
        height: 40px;
        width: auto;
        position: absolute;
        top: 5px;
        left: -7px;

        + span {
          padding-left: 40px;
        }
      }
    }
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: inherit;
  }

  .dropdown-menu > .active > a {
    font-weight: 500;
  }

  .dropdown-menu > li > a:hover {
    text-decoration: underline;
  }
}


// Transparent navbar
.navbar-lsb-colored(@color:@brand-primary) {
  border-width: 0;
  border-top-width: 4px;
  border-color: @color;

  .navbar-header {
    svg {
      .fill {
        fill: @color;
      }
    }

    &:hover,
    &:focus {
      color: @color;
      background-color: transparent;
    }
  }
}

// Colored clean navbars

.navbar-primary {
  .navbar-lsb-colored();
}

.navbar-purple {
  .navbar-lsb-colored(@brand-purple);
}

.navbar-green {
  .navbar-lsb-colored(@brand-green);
}

.navbar-yellow {
  .navbar-lsb-colored(@brand-yellow);
}

.navbar-orange {
  .navbar-lsb-colored(@brand-orange);
}

.navbar-red {
  .navbar-lsb-colored(@brand-red);
}

.navbar-blue {
  .navbar-lsb-colored(@brand-blue);
}
