.navbar {
  color: inherit;
  font-weight: 500;
  letter-spacing: .05em;
  .p-y;

  a {
    text-decoration: inherit;
    &:hover {
      text-decoration: underline !important;
    }
  }

  .navbar-nav > li.active {
    display: none;
  }

  .navbar-header {

    .navbar-brand,
    .navbar-brand a {
      font-size: inherit;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .navbar-brand {

      .lsb-filter {
        margin-left: @spacer-x/2;
      }

      svg {
        height: 40px;
        width: auto;
        margin-right: @spacer-x/2;
      }
    }

    .navbar-brand a:hover {
      svg {
        .fill {
          fill: @brand-primary;
        }
      }
    }

    button {
      .pull-right;
      .visible-xs;
      margin-right: @grid-gutter-width/2;
    }
  }

  .lsb-frontpage-sections {
    li {
      display: none;

      @media (min-width: @screen-sm-min) {
        &:nth-child(1),
        &:nth-child(2) {
          display: block;
        }
      }

      @media (min-width: @screen-lg-min) {
        &:nth-child(3) {
          display: block;
        }
      }
    }
  }

  .lsb-frontpage-sections-dropdown {
    li {

      @media (min-width: @screen-sm-min) {
        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }
      }

      @media (min-width: @screen-lg-min) {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: inherit;
  }

  .dropdown-menu > .active > a {
    font-weight: 500;
  }

  .dropdown-menu > li > a:hover {
    text-decoration: underline;
  }
}


// Transparent navbar with color details
.navbar-lsb-colored(@color:@brand-primary) {
  border-width: 0;
  border-top-width: 4px;
  border-color: @color;

  .navbar-header {
    svg {
      .fill {
        fill: @color;
      }
    }

    &:hover,
    &:focus {
      color: @color;
      background-color: transparent;
    }
  }
}

// Colored clean navbars

.navbar-primary {
  .navbar-lsb-colored();
}

.navbar-purple {
  .navbar-lsb-colored(@brand-purple);
}

.navbar-green {
  .navbar-lsb-colored(@brand-green);
}

.navbar-yellow {
  .navbar-lsb-colored(@brand-yellow);
}

.navbar-orange {
  .navbar-lsb-colored(@brand-orange);
}

.navbar-red {
  .navbar-lsb-colored(@brand-red);
}

.navbar-blue {
  .navbar-lsb-colored(@brand-blue);
}
