.navbar {
  font-weight: 500;
  letter-spacing: .05em;

  .m-b-0;

  padding-top: @spacer-y;
  padding-bottom: @spacer-y;

  .navbar-transparent;
  background-color: @brand-primary;

  .navbar-header {
  .navbar-nav li {
    display: inline-block;
      a {
        .p-l-0;
        .p-r-0; 
      }
    }
  }

  .navbar-brand {
    svg {
      height: 50px;
      margin-top: -15px;
      .fill {
        fill: white;
      }
    }
  }
}