.algolia-autocomplete {
  .form-control {
    .input-lg();
  }

  &:not(:first-child):not(:last-child) {
    .form-control {
      border-radius: 0;
    }
  }
}

.ais-facets {

  .m-t-md;
  &:first-child {
    .m-t-0;
  }

  label {
    width: 100%;
  }

  .label-default {
    display: inline-block; 
    opacity: 0.7;
    vertical-align: text-bottom;
    margin-left: 5px;;
  }
} 

.ais-current-refined-values--count {
  display: none;
} 

.ais-current-refined-values--clear-all {
  margin-top: 10px;
}

.ais-current-refined-values--link {
  text-decoration: none;
  font-weight: bold;
}