// COLOR

.lsb_book.summary {
  .m-b;

  .lsb-book-thumbail {
    text-align: center;
    display: block;
    img {
      max-width: 100%;
      height: auto;
      display: inline-block;

      @media (min-width: @container-sm) {
        .p-r;
      }
    }
  }

  .lsb-book-content {
    padding: 1rem;
    padding-left: 2rem;
    overflow: hidden;
  }
}
