body.home,
body.tax-lsb_tax_lsb_cat {

  .block-lsb-cover-grid {
    @media (max-width: @container-sm) {
      position: relative;
      height: 400px;
      overflow: hidden;
      left: 0;
      right: 0;
    }
  }

  .lsb-col-move-up {
    @media (max-width: @container-sm) {
      .m-t-0;
    }
  }

  .row >div:not(:last-child) {
    @media (max-width: @container-sm) {
      .m-b-lg;
    }
  }
}




// COLOR
body.home .main .block-lsb-cat:nth-child(even),
aside .block-lsb-cat {

  &.lsb-cat-boksok {
    .block-lsb-solid-primary;
    .row {
      align-items: center;
    }
  }

  &.lsb-cat-litt-a-lese {
    .block-lsb-solid-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-solid-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-solid-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-solid-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-solid-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-solid-blue;
  }
 
}

// Rules for regular blocks

body.home .main .block-lsb-cat:nth-child(odd) {

  &.lsb-cat-litt-a-lese {
    .block-lsb-purple;
  }

  &.lsb-cat-enkelt-innhold {
    .block-lsb-green;
  }

  &.lsb-cat-storskrift {
    .block-lsb-yellow;
  }

  &.lsb-cat-punktskrift-folebilder {
    .block-lsb-orange;
  }

  &.lsb-cat-tegnsprak-nmt {
    .block-lsb-red;
  }

  &.lsb-cat-bliss-piktogram {
    .block-lsb-blue;
  }
}

// ORDER
body.home .main .block-lsb-cat:nth-child(odd) {

  .col-sm-5 {
    order: 3;
  }

  .col-sm-1 {
    order: 2;
  }

  .col-sm-6 {
    order: 1;
  }
}