// COLOR

body.tax-lsb_tax_lsb_cat .main .block-lsb-cat:nth-child(even) {
  background: @gray-lighter;
}

body.archive .block-lsb-header {
  padding: 20px 0;
}

.lsb-tax-description {
  padding: 0 2rem;
}

.lsb-book {
  background: @gray-lighter;
  border-radius: @btn-border-radius-large;
  padding: 2rem;
  height: 100%;
  display: flex;

  .lsb-book-thumbnail {
    width: 34%;
    max-width: 150px;
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;

    .lsb-book-thumbnail-bg {
      background-position: center center;
      background-size: cover;
      background-color: @gray-light;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      filter: blur(10px);
      opacity: 0.4;
    }

    a {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
        &.portrait {
          max-height: 100%;
          width: auto;
        }
      }
    }
  }

  .lsb-book-content {
    padding: 1rem;
    padding-left: 2rem;
    overflow: hidden;
  }
}

.lsb-tags {
  overflow: hidden;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;

  .lsb-tag {
    display: inline-block;
    white-space: nowrap;

    a {
      color: inherit;
    }
  }

  .lsb-tag-label {
    opacity: 0.6;
  }

  &.lsb-tags-bold {
    .lsb-tag {
      background: white;
      padding: 5px 10px;
      border-radius: @btn-border-radius-small;

      .icon {
        margin-right: 2px;
        margin-left: -3px;
      }
    }
  }
}

