a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.header-uppercase {
  .text-uppercase;
  letter-spacing: .15em;
}

.lsb-heading {
  .h2;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {    
      text-decoration: underline;
    }
  }
}


.lsb-heading-medium {
  .lsb-heading;
  .h4;
}

.lsb-heading-small {
  .lsb-heading;
  .header-uppercase;
  .h6;
}

.lsb-tags {
  display: block;
  .lsb-tag {
    &:not(:last-child):after {
      content: ",";
    }

    &.lsb-tag-label {
      color: lighten(@text-color, 30%);
      &:after {
        content: "";
      }
    }
  }
}

.lsb-columns-2 {

  @media (min-width: @screen-xs-min) {
    column-count: 2;
    column-gap: @grid-gutter-width;
  }
}

.lsb-description {
  p:first-child {
    .lead;
  }

  img {
    .m-t;
    .m-b;
  }

  h1 {
    .h2;
  }

  h2 {
    .h3;
  }

  h3 {
    .h4;
  }

  h4 {
    .h5;
  }

  h5 {
    .h6;
  }
}

.lsb-cat-description {

  p:first-child {
      .h3;
      .m-t-0;
    }

  p:not(:first-child) {
    .lead;
  }

  a {
    color: inherit;
    font-weight: 400;

    &:hover {
      text-decoration: none;
    }
  }

  h2, h3, h4, h5, h6 {
    .h5;
    .m-t-md;

    +p, +div {
      font-size: @font-size-base !important;
      width: 50%;
    }
  }
}
